In [5]:
import numpy as np
import pandas as pd
import csv as cv

In [6]:
df = pd.read_csv('source.csv')

In [17]:
df.head()

,Date,Open,High,Low,Close,Volume,Adj Close
0,2016-07-01,17924.240234,18002.380859,17916.910156,17949.369141,82160000,17949.369141
1,2016-06-30,17712.759766,17930.609375,17711.800781,17929.990234,133030000,17929.990234
2,2016-06-29,17456.019531,17704.509766,17456.019531,17694.679688,106380000,17694.679688
3,2016-06-28,17190.509766,17409.720703,17190.509766,17409.720703,112190000,17409.720703
4,2016-06-27,17355.210938,17355.210938,17063.080078,17140.240234,138740000,17140.240234

In [64]:
list = df.columns
list = list.values.tolist()
list[1:]

['Open', 'High', 'Low', 'Close', 'Volume', 'Adj Close']

In [25]:
df.mode()['Date'][0]

'2008-08-08'

In [56]:
for name in list:
    print ("{} = {}".format(name, df.mode()[name][0]))

Date = 2008-08-08
Open = 9868.339844
High = 10061.660156
Low = 7840.450195
Close = 9509.280273
Volume = 76820000.0
Adj Close = 9509.280273

In [57]:
df.mean()

Open         1.345912e+04
High         1.354130e+04
Low          1.337293e+04
Close        1.346303e+04
Volume       1.628110e+08
Adj Close    1.346303e+04
dtype: float64

In [58]:
df.median()

Open         1.302205e+04
High         1.308811e+04
Low          1.295313e+04
Close        1.302558e+04
Volume       1.351700e+08
Adj Close    1.302558e+04
dtype: float64

In [65]:
for name in list[1:]:
    midrage = df[name].min() + df[name].max() / 2
    print ("{} = {}".format(name, midrage))

Open = 15704.5400395
High = 15885.289550500001
Low = 15606.230468500002
Close = 15703.245117499999
Volume = 345870000.0
Adj Close = 15703.245117499999