In [1]:
import numpy as np
import pandas as pd
import csv as cv

In [3]:
df = pd.read_csv('source.csv')

In [4]:
df

,Date,Open,High,Low,Close,Volume,Adj Close
0,2016-07-01,17924.240234,18002.380859,17916.910156,17949.369141,82160000,17949.369141
1,2016-06-30,17712.759766,17930.609375,17711.800781,17929.990234,133030000,17929.990234
2,2016-06-29,17456.019531,17704.509766,17456.019531,17694.679688,106380000,17694.679688
3,2016-06-28,17190.509766,17409.720703,17190.509766,17409.720703,112190000,17409.720703
4,2016-06-27,17355.210938,17355.210938,17063.080078,17140.240234,138740000,17140.240234
5,2016-06-24,17946.630859,17946.630859,17356.339844,17400.750000,239000000,17400.750000
6,2016-06-23,17844.109375,18011.070312,17844.109375,18011.070312,98070000,18011.070312
7,2016-06-22,17832.669922,17920.160156,17770.359375,17780.830078,89440000,17780.830078
8,2016-06-21,17827.330078,17877.839844,17799.800781,17829.730469,85130000,17829.730469
9,2016-06-20,17736.869141,17946.359375,17736.869141,17804.869141,99380000,17804.869141
10,2016-06-17,17733.439453,17733.439453,17602.779297,17675.160156,248680000,17675.160156
11,2016-06-16,17602.230469,17754.910156,17471.289062,17733.099609,91950000,17733.099609
12,2016-06-15,17703.650391,17762.960938,17629.009766,17640.169922,94130000,17640.169922
13,2016-06-14,17710.769531,17733.919922,17595.789062,17674.820312,93740000,17674.820312
14,2016-06-13,17830.500000,17893.279297,17731.349609,17732.480469,101690000,17732.480469
15,2016-06-10,17938.820312,17938.820312,17812.339844,17865.339844,90540000,17865.339844
16,2016-06-09,17969.980469,18005.220703,17915.880859,17985.189453,69690000,17985.189453
17,2016-06-08,17931.910156,18016.000000,17931.910156,18005.050781,71260000,18005.050781
18,2016-06-07,17936.220703,18003.230469,17936.220703,17938.279297,78750000,17938.279297
19,2016-06-06,17825.689453,17949.679688,17822.810547,17920.330078,71870000,17920.330078
20,2016-06-03,17799.800781,17833.169922,17689.679688,17807.060547,82270000,17807.060547
21,2016-06-02,17789.050781,17838.560547,17703.550781,17838.560547,75560000,17838.560547
22,2016-06-01,17754.550781,17809.179688,17664.789062,17789.669922,78530000,17789.669922
23,2016-05-31,17891.500000,17899.240234,17724.029297,17787.199219,147390000,17787.199219
24,2016-05-27,17826.849609,17873.220703,17824.730469,17873.220703,73190000,17873.220703
25,2016-05-26,17859.519531,17888.660156,17803.820312,17828.289062,68940000,17828.289062
26,2016-05-25,17735.089844,17891.710938,17735.089844,17851.509766,79180000,17851.509766
27,2016-05-24,17525.189453,17742.589844,17525.189453,17706.050781,86480000,17706.050781
28,2016-05-23,17507.039062,17550.699219,17480.050781,17492.929688,87790000,17492.929688
29,2016-05-20,17437.320312,17571.750000,17437.320312,17500.939453,111990000,17500.939453
...,...,...,...,...,...,...,...
1959,2008-09-19,11027.509766,11483.049805,11026.700195,11388.440430,655110000,11388.440430
1960,2008-09-18,10609.009766,11076.440430,10459.440430,11019.690430,488060000,11019.690430
1961,2008-09-17,11056.580078,11057.309570,10595.900391,10609.660156,463200000,10609.660156
1962,2008-09-16,10905.620117,11093.219727,10742.700195,11059.019531,494760000,11059.019531
1963,2008-09-15,11416.370117,11416.450195,10917.509766,10917.509766,432970000,10917.509766
1964,2008-09-12,11429.320312,11459.929688,11280.400391,11421.990234,238890000,11421.990234
1965,2008-09-11,11264.440430,11445.679688,11098.669922,11433.709961,247820000,11433.709961
1966,2008-09-10,11233.910156,11380.629883,11215.259766,11268.919922,214260000,11268.919922
1967,2008-09-09,11514.730469,11577.500000,11230.730469,11230.730469,257300000,11230.730469
1968,2008-09-08,11224.870117,11570.660156,11224.790039,11510.740234,273000000,11510.740234
1969,2008-09-05,11185.629883,11245.150391,11037.849609,11220.959961,198300000,11220.959961
1970,2008-09-04,11532.480469,11532.480469,11176.019531,11188.230469,229200000,11188.230469
1971,2008-09-03,11506.009766,11554.379883,11416.530273,11532.879883,174250000,11532.879883
1972,2008-09-02,11545.629883,11790.169922,11471.900391,11516.919922,177090000,11516.919922
1973,2008-08-29,11713.230469,11713.230469,11543.389648,11543.959961,166910000,11543.959961
1974,2008-08-28,11499.870117,11715.179688,11499.790039,11715.179688,149150000,11715.179688
1975,2008-08-27,11412.459961,11554.459961,11381.769531,11502.509766,120580000,11502.509766
1976,2008-08-26,11383.559570,11436.240234,11340.410156,11412.870117,119800000,11412.870117
1977,2008-08-25,11626.190430,11626.269531,11362.629883,11386.250000,148610000,11386.250000
1978,2008-08-22,11426.790039,11632.129883,11426.790039,11628.059570,138790000,11628.059570
1979,2008-08-21,11415.230469,11476.209961,11315.570312,11430.209961,130020000,11430.209961
1980,2008-08-20,11345.940430,11454.150391,11290.580078,11417.429688,144880000,11417.429688
1981,2008-08-19,11478.089844,11478.169922,11318.500000,11348.549805,171580000,11348.549805
1982,2008-08-18,11659.650391,11690.429688,11434.120117,11479.389648,156290000,11479.389648
1983,2008-08-15,11611.209961,11709.889648,11599.730469,11659.900391,215040000,11659.900391
1984,2008-08-14,11532.070312,11718.280273,11450.889648,11615.929688,159790000,11615.929688
1985,2008-08-13,11632.809570,11633.780273,11453.339844,11532.959961,182550000,11532.959961
1986,2008-08-12,11781.700195,11782.349609,11601.519531,11642.469727,173590000,11642.469727
1987,2008-08-11,11729.669922,11867.110352,11675.530273,11782.349609,183190000,11782.349609
1988,2008-08-08,11432.089844,11759.959961,11388.040039,11734.320312,212830000,11734.320312