In [5]:
import numpy as np
import pandas as pd
import csv as cv

In [6]:
df = pd.read_csv('source.csv')

In [12]:
df.describe()

,Open,High,Low,Close,Volume,Adj Close
count,1989.000000,1989.000000,1989.000000,1989.000000,1.989000e+03,1989.000000
mean,13459.116048,13541.303173,13372.931728,13463.032255,1.628110e+08,13463.032255
std,3143.281634,3136.271725,3150.420934,3144.006996,9.392343e+07,3144.006996
min,6547.009766,6709.609863,6469.950195,6547.049805,8.410000e+06,6547.049805
25%,10907.339844,11000.980469,10824.759766,10913.379883,1.000000e+08,10913.379883
50%,13022.049805,13088.110352,12953.129883,13025.580078,1.351700e+08,13025.580078
75%,16477.699219,16550.070312,16392.769531,16478.410156,1.926000e+08,16478.410156
max,18315.060547,18351.359375,18272.560547,18312.390625,6.749200e+08,18312.390625

In [9]:
df.columns

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'Adj Close'], dtype='object')

In [13]:
df.mode()

,Date,Open,High,Low,Close,Volume,Adj Close
0,2008-08-08,9868.339844,10061.660156,7840.450195,9509.280273,76820000.0,9509.280273
1,2008-08-11,10309.389648,11159.049805,10929.280273,10927.070312,103260000.0,10927.070312
2,2008-08-12,10780.000000,11447.860352,11528.080078,11433.179688,NaN,11433.179688
3,2008-08-13,12221.190430,14839.799805,12447.330078,11478.129883,NaN,11478.129883
4,2008-08-14,12266.750000,16504.349609,12845.280273,12837.330078,NaN,12837.330078
5,2008-08-15,17374.779297,17113.509766,13192.209961,13232.620117,NaN,13232.620117
6,2008-08-18,17711.119141,NaN,13860.580078,13328.849609,NaN,13328.849609
7,2008-08-19,17812.250000,NaN,16333.780273,15112.190430,NaN,15112.190430
8,2008-08-20,18033.330078,NaN,16983.880859,16501.650391,NaN,16501.650391
9,2008-08-21,NaN,NaN,NaN,16906.619141,NaN,16906.619141
10,2008-08-22,NaN,NaN,NaN,17813.390625,NaN,17813.390625
11,2008-08-25,NaN,NaN,NaN,NaN,NaN,NaN
12,2008-08-26,NaN,NaN,NaN,NaN,NaN,NaN
13,2008-08-27,NaN,NaN,NaN,NaN,NaN,NaN
14,2008-08-28,NaN,NaN,NaN,NaN,NaN,NaN
15,2008-08-29,NaN,NaN,NaN,NaN,NaN,NaN
16,2008-09-02,NaN,NaN,NaN,NaN,NaN,NaN
17,2008-09-03,NaN,NaN,NaN,NaN,NaN,NaN
18,2008-09-04,NaN,NaN,NaN,NaN,NaN,NaN
19,2008-09-05,NaN,NaN,NaN,NaN,NaN,NaN
20,2008-09-08,NaN,NaN,NaN,NaN,NaN,NaN
21,2008-09-09,NaN,NaN,NaN,NaN,NaN,NaN
22,2008-09-10,NaN,NaN,NaN,NaN,NaN,NaN
23,2008-09-11,NaN,NaN,NaN,NaN,NaN,NaN
24,2008-09-12,NaN,NaN,NaN,NaN,NaN,NaN
25,2008-09-15,NaN,NaN,NaN,NaN,NaN,NaN
26,2008-09-16,NaN,NaN,NaN,NaN,NaN,NaN
27,2008-09-17,NaN,NaN,NaN,NaN,NaN,NaN
28,2008-09-18,NaN,NaN,NaN,NaN,NaN,NaN
29,2008-09-19,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
1959,2016-05-20,NaN,NaN,NaN,NaN,NaN,NaN
1960,2016-05-23,NaN,NaN,NaN,NaN,NaN,NaN
1961,2016-05-24,NaN,NaN,NaN,NaN,NaN,NaN
1962,2016-05-25,NaN,NaN,NaN,NaN,NaN,NaN
1963,2016-05-26,NaN,NaN,NaN,NaN,NaN,NaN
1964,2016-05-27,NaN,NaN,NaN,NaN,NaN,NaN
1965,2016-05-31,NaN,NaN,NaN,NaN,NaN,NaN
1966,2016-06-01,NaN,NaN,NaN,NaN,NaN,NaN
1967,2016-06-02,NaN,NaN,NaN,NaN,NaN,NaN
1968,2016-06-03,NaN,NaN,NaN,NaN,NaN,NaN
1969,2016-06-06,NaN,NaN,NaN,NaN,NaN,NaN
1970,2016-06-07,NaN,NaN,NaN,NaN,NaN,NaN
1971,2016-06-08,NaN,NaN,NaN,NaN,NaN,NaN
1972,2016-06-09,NaN,NaN,NaN,NaN,NaN,NaN
1973,2016-06-10,NaN,NaN,NaN,NaN,NaN,NaN
1974,2016-06-13,NaN,NaN,NaN,NaN,NaN,NaN
1975,2016-06-14,NaN,NaN,NaN,NaN,NaN,NaN
1976,2016-06-15,NaN,NaN,NaN,NaN,NaN,NaN
1977,2016-06-16,NaN,NaN,NaN,NaN,NaN,NaN
1978,2016-06-17,NaN,NaN,NaN,NaN,NaN,NaN
1979,2016-06-20,NaN,NaN,NaN,NaN,NaN,NaN
1980,2016-06-21,NaN,NaN,NaN,NaN,NaN,NaN
1981,2016-06-22,NaN,NaN,NaN,NaN,NaN,NaN
1982,2016-06-23,NaN,NaN,NaN,NaN,NaN,NaN
1983,2016-06-24,NaN,NaN,NaN,NaN,NaN,NaN
1984,2016-06-27,NaN,NaN,NaN,NaN,NaN,NaN
1985,2016-06-28,NaN,NaN,NaN,NaN,NaN,NaN
1986,2016-06-29,NaN,NaN,NaN,NaN,NaN,NaN
1987,2016-06-30,NaN,NaN,NaN,NaN,NaN,NaN
1988,2016-07-01,NaN,NaN,NaN,NaN,NaN,NaN